#blocklyDiv {
  height: 90%;
  width: 80%;
  position: absolute;
  bottom: 0;
  left:0;
}

iframe{
  position: absolute;
  width:20%;
  height:90%;
  bottom:0;
  right:0;
}
.blocklyToolboxDiv{
  background-color:rgb(61, 128, 252);
  padding:0px;
}
.blocklyTreeRow{
  line-height:normal;
}
.blocklyTreeRow.blocklyTreeSelected{
  background-color:rgb(58, 61, 250) !important;
}